@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

/*********************************************** Style the Header **********************************************/

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 154px;
    background: url("../IMAGES/backround1.png") no-repeat;
    background-size: cover;
}

.container {
    /* margin: 49px auto; Top & Bottom | Left & Right*/
    justify-self: center;
    width: 90vw;
    height: 56px;
    position: relative;
    top: 49px;
}

#Logo_Menu {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    gap: 170px;
}

img[src*="logo" i] {
    width: 142px;
    height: 100%;
}

img[alt="Actual page indicator"] {
    size: fit-content;
}

header #navigation {
    height: 100%;
    display: flex;
    align-items: center;
}

header #navigation ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

header #navigation ul li a {
    text-decoration: none;
    color: white;
    font-family: "Heebo";
    font-weight: 500;
    font-size: 18px;
}

#actualPage {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 8px;
    align-items: center;
    gap: 5px;
}

header nav form {
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0;
    border: 2px solid white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav form button {
    height: 24px;
    width: 24px;
    background: transparent;
    border: none;
}

img[alt="search icon" i] {
    height: 24px;
    width: 24px;
}

header nav form input {
    height: 24px;
    width: 80%;
    font-family: "Heebo";
    font-weight: 400;
    font-size: 16px;
    padding-left: 10px;
    background: transparent;
    border: none;
}

header nav form input:focus {
    border: none;
    outline: none;
    color: white;
}

header nav form input::placeholder {
    color: white;
}

/*********************************************** Style the main content **********************************************/
main {
    display: grid;
    row-gap: 20px;
}

/* section doctors */
section:first-child {
    width: 1440px;
    padding: 130px 120px;
    justify-self: center;
}

section:first-child > div {
    display: grid;
    row-gap: 70px;
    justify-self: center;
}

section:first-child > div > div {
    display: grid;
    row-gap: 35px;
}

section:first-child > div > div > div:first-child {
    display: grid;
    row-gap: 30px;
    justify-content: center;
}

section:first-child > div > div > div:first-child > div {
    width: fit-content;
    background-color: #5EE088;
    color: white;
    gap: 10px;
    padding: 12px 25px;
    border: 1px solid #5EE088;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: "Heebo";
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 12%;
    line-height: auto;
    justify-self: center;
}

section:first-child > div > div > div:first-child > h2 {
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0%;
    line-height: auto;
    color: #3498DB;
    text-align: center;
}

section:first-child > div > div > div:last-child {
    display: grid;
    row-gap: 46px;
}

section:first-child > div > div > div:last-child > div {
    display: flex;
    gap: 30px;
}

section:first-child > div > div > div:last-child > div > span {
    padding: 35px 30px;
}

section:first-child > div > div > div:last-child > div > span > div {
    display: grid;
    row-gap: 15px;
}

section:first-child > div > div > div:last-child > div > span > div > div {
    display: grid;
    row-gap: 18px;
}

section:first-child > div > div > div:last-child > div > span > div > div > img {
    height: 300px;
    width: 320px;
}

section:first-child > div > div > div:last-child > div > span > div > div > div {
    display: grid;
    row-gap: 8px;
    justify-content: center;
}

section:first-child > div > div > div:last-child > div > span > div > div > div > h3 {
    font-family: "IBM Plex Sans";
    font-size: 32px;
    font-weight: bold;
    color: #2677BC;
    width: fit-content;
}

section:first-child > div > div > div:last-child > div > span > div > div > div > h4 {
    font-family: "Heebo";
    font-size: 24px;
    font-weight: 400;
    color: #FF6F61;
    width: fit-content;
    justify-self: center;
}

section:first-child > div > div > div:last-child > div > span > div > div > p {
    display: grid;
    padding: 0px 10px;
    font-family: "Heebo";
    font-size: 18px;
    font-weight: 400;
    color: #5B5B5B;
}

section:first-child > div > button {
    background-color: #FF6F61;
    color: white;
    font-family: "Heebo";
    font-size: 20px;
    font-weight: 500;
    padding: 15px 30px 15px 20px;
    width: fit-content;
    justify-self: center;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 100px;
}

section:first-child > div > button > img {
    height: 36px;
    width: 36px;
}

/* section pricing */
.pricing {
    width: 1440px;
    justify-self: center;
    padding: 10px 120px;
}

.pricing > div {
    display: grid;
    row-gap: 50px;
}

.pricing > div > div:first-child {
    display: flex;
    gap: 105px;
}

.pricing > div > div:first-child > span:first-child {
    display: grid;
    row-gap: 30px;
}

.pricing > div > div:first-child > span:first-child > div {
    width: fit-content;
    background-color: #5EE088;
    color: white;
    gap: 10px;
    padding: 12px 25px;
    border: 1px solid #5EE088;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: "Heebo";
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 12%;
    line-height: auto;
}

.pricing > div > div:first-child > span:first-child > h2 {
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0%;
    line-height: auto;
    color: #3498DB;
    text-wrap: nowrap;
}

.pricing > div > div:first-child > span:last-child {
    display: flex;
    align-items: end;
}

.pricing > div > div:first-child > span:last-child > p {
    font-family: "Heebo";
    font-weight: 400;
    font-size: 20px;
    color: #313131;
    direction: rtl;
}

.pricing > div > div:last-child {
    display: grid;
    row-gap: 60px;
}

.pricing > div > div:last-child > div {
    display: flex;
    gap: 120px;
    padding: 0px 40px;
}

.pricing > div > div:last-child > div > span {
    display: grid;
    row-gap: 20px;
    padding: 30px;
    background-color: #E1E1E1;
    border-radius: 30px;
}

.pricing > div > div:last-child > div > span > div:first-child {
    display: grid;
    row-gap: 20px;
}

.titre {
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-size: 36px;
    color: #3498DB;
    text-wrap: nowrap;
}

.corps {
    font-family: "Heebo";
    font-weight: 400;
    font-size: 20px;
    color: #313131;
}

.price {
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-size: 48px;
    color: #3498DB;
    text-wrap: nowrap;
}

.estimated-price {
    font-family: "Heebo";
    font-weight: 400;
    font-size: 24px;
    color: #FF6F61;
    text-wrap: nowrap;
}

.pricing > div > div:last-child > div > span > div:first-child > div:last-child {
    display: flex;
    gap: 10px;
    align-items: end;
}

.line {
    border: 1px solid #C8C8C8;
}

.pricing > div > div:last-child > div > span > div:last-child {
    display: grid;
    row-gap: 20px;
}

.pricing > div > div:last-child > div > span > div:last-child > p:first-child {
    font-family: "Heebo";
    font-size: 24px;
    font-weight: 500;
    color: #3498DB;
}

.pricing > div > div:last-child > div > span > div:last-child > p:last-child {
    font-family: "Heebo";
    font-size: 20px;
    font-weight: 400;
    color: #5B5B5B;
}

/* appointement section */
.appointement {
    width: 1440px;
    padding: 0px 30px;
    justify-self: center;
}

.appointement > div {
    display: flex;
    justify-self: center;
}

.appointement > div > span {
    background: url("../images/backround1.png") no-repeat;
    background-size: cover;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    opacity: 90%;
    backdrop-filter: blur(18px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.appointement > div > span > div {
    display: grid;
    row-gap: 66px;
    width: fit-content;
}

.appointement > div > span > div > div > h2 {
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-size: 52px;
    color: #FAFAFA;
    width: fit-content;
    justify-self: center;
}

.appointement > div > span > div > div > p {
    font-family: "Heebo";
    font-weight: 400;
    font-size: 20px;
    width: 593.31px;
    color: #FAFAFA;
}

.appointement > div > span > div > button {
    background-color: #E3FAFF;
    padding: 15px 20px 15px 30px;
    border-radius: 100px;
    width: fit-content;
    justify-self: left;
    font-family: "Heebo";
    font-weight: 500;
    font-size: 20px;
    color: #2677BC;
    display: flex;
    gap: 10px;
    align-items: center;
}

.appointement > div > span > div > button > img {
    height: 36px;
    width: 36px;
}

.appointement > div > span > div > div {
    display: grid;
    row-gap: 30px;
    width: fit-content;
    text-align: center;
}

.appointement > div > img {
    width: 567px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* plan section */
section:last-child {
    width: 1440px;
    justify-self: center;
    padding: 130px 120px;
}

section:last-child > div {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 1200px;
    justify-self: center;
}

section:last-child > div > div:first-child {
    display: flex;
    gap: 105px;
}

section:last-child > div > div:first-child > span:first-child {
    display: grid;
    row-gap: 30px;
}

section:last-child > div > div:first-child > span:first-child > div {
    width: fit-content;
    background-color: #5EE088;
    color: white;
    gap: 10px;
    padding: 12px 25px;
    border: 1px solid #5EE088;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: "Heebo";
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 12%;
    line-height: auto;
}

section:last-child > div > div:first-child > span:first-child > h2 {
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0%;
    line-height: auto;
    color: #3498DB;
    text-wrap: nowrap;
}

section:last-child > div > div:first-child > span:last-child {
    display: flex;
    align-items: end;
}

section:last-child > div > div:first-child > span:last-child > p {
    font-family: "Heebo";
    font-weight: 400;
    font-size: 20px;
    color: #313131;
    direction: rtl;
}

section:last-child > div > div:last-child {
    display: flex;
    gap: 30px;
}

section:last-child > div > div:last-child > span {
    display: flex;
    padding: 30px;
    border: 1px solid #C8C8C8;
    border-radius: 25px;
}

section:last-child > div > div:last-child > span > div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

section:last-child > div > div:last-child > span > div > div:first-child {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

section:last-child > div > div:last-child > span > div > div:first-child > h3 {
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-size: 36px;
    text-wrap: nowrap;
    color: #2677BC;
    width: fit-content;
}

section:last-child > div > div:last-child > span > div > div:first-child > h3 > p {
    display: inline;
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-size: 28px;
    text-wrap: nowrap;
    color: #84D4F4;
}

.p_top {
    font-family: "Heebo";
    font-weight: 400;
    font-size: 20px;
    color: #5B5B5B;
} 

.p_price {
    display: flex;
    gap: 10px;
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-size: 48px;
    color: #3498DB;
    width: fit-content;
    justify-self: left;
    align-items: baseline;
}

.p_price > span {
    font-family: "Heebo";
    font-weight: 400;
    font-size: 24px;
    color: #969696;
    width: fit-content;
    height: fit-content;
}

.line {
    border: 1px solid #C8C8C8;
}

section:last-child > div > div:last-child > span > div > div:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}

section:last-child > div > div:last-child > span > div > div:last-child > div:first-child {
    display: grid;
    row-gap: 20px;
}

section:last-child > div > div:last-child > span > div > div:last-child > div:first-child > h4 {
    font-family: "Heebo";
    font-weight: 500;
    font-size: 24px;
    color: #3498DB;
}

section:last-child > div > div:last-child > span > div > div:last-child > div:first-child > ul {
    list-style: none;
    display: grid;
    align-items: center;
    row-gap: 15px;
}

section:last-child > div > div:last-child > span > div > div:last-child > div:first-child > ul > li {
    font-family: "Heebo";
    font-weight: 400;
    font-size: 24px;
    color: #5B5B5B;
}

section:last-child > div > div:last-child > span > div > div:last-child > div:first-child > ul > li > img {
    height: 24px;
    width: 24px;
    position: relative;
    top: 4px;
    left: 3px;
}

section:last-child > div > div:last-child > span > div > div:last-child > div:last-child {
    display: grid;
    row-gap: 11px;
    justify-content: center;
}

section:last-child > div > div:last-child > span > div > div:last-child > div:last-child > button:first-child {
    border: 1px solid #FF6F61;
    padding: 12px 30px;
    font-family: "Heebo";
    font-weight: 500;
    font-size: 16px;
    color: #5B5B5B;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

section:last-child > div > div:last-child > span > div > div:last-child > div:last-child > p {
    font-family: "Heebo";
    font-weight: 400;
    font-size: 14px;
    color: #969696;
    width: fit-content;
    justify-self: center;
}

section:last-child > div > div:last-child > span > div > div:last-child > div:last-child > button:last-child {
    padding: 12px 30px;
    font-family: "Heebo";
    font-weight: 500;
    font-size: 16px;
    display: flex;
    gap: 10px;
    color: white;
    background-color: #FF6F61;
    border: none;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
}

section:last-child > div > div:last-child > span > div > div:last-child button img {
    height: 20px;
    width: 20px;
}

/*********************************************** Style the footer **********************************************/

footer {
    gap: 0.625rem;
    padding: 4.375rem 7.5rem 6.25rem 7.5rem;
    background-color: #F5F8FA;
}

footer > div {
    display: flex;
}

footer > div > span:first-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 4.875rem;
}

footer > div > span:first-child img {
    width: 10.625rem;
    height: 10.625rem;
}

footer > div > span:first-child > div {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
}

footer > div > span:first-child > div > div {
    width: 75%;
    display: flex;
    flex-direction: column;
    row-gap: 1.875rem;
}

footer > div > span:first-child > div > div div {
    display: flex;
    gap: 0.875rem;
    justify-content: space-between;
}

footer > div > span:first-child input {
    padding: 1rem 1.5rem;
    border-radius: 6.25rem;
    background: transparent;
    font-family: "Heebo";
    font-weight: 400;
    font-size: 1rem;
}

footer > div > span:first-child button {
    padding: 0.75rem 1.875rem;
    border-radius: 6.25rem;
    color: #3498DB;
    font-family: "Heebo";
    font-weight: 500;
    font-size: 1rem;
}

footer > div > span:first-child p {
    color: #2677BC;
    font-family: "Lato";
    font-size: 1rem;
    font-weight: 400;
}

footer > div > span:first-child > div:last-child {
    display: flex;
    flex-direction: row;
    gap: 0.875rem;
}

footer > div > span:first-child > div:last-child span {
    width: fit-content;
    padding: 0.3125rem;
    font-size: 1.875rem;
    color: #2677BC;
}

footer > div > span:last-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 2.75rem;
}

footer > div > span:last-child > div:first-child {
    display: flex;
    gap: 3.75rem;
    font-family: "Heebo";
    font-weight: 500;
}

footer > div > span:last-child > div:first-child p {
    color: #2677BC;
    font-size: 1.5rem;
    text-wrap: nowrap;
}

footer > div > span:last-child > div:first-child a {
    display: block;
    color: #63BBE9;
    font-size: 0.875rem;
    text-decoration: none;
}

footer > div > span:last-child > div:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 0.875rem;
    font-family: "Heebo";
    color: #2677BC;
}

footer > div > span:last-child > div:last-child > p {
    font-weight: 500;
    font-size: 1.5rem;
}

footer > div > span:last-child > div:last-child > div {
    gap: 1.5rem;
}

footer > div > span:last-child > div:last-child > div > div {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
    width: 11.25rem;
}

footer > div > span:last-child > div:last-child > div p[name="subheading"] {
    font-weight: 500;
    font-size: 0.875rem;
}

footer > div > span:last-child > div:last-child > div p[name="text"] {
    font-weight: 400;
    font-size: 0.875rem;
    color: #969696;
}