* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

/*********************************************** Style the Header **********************************************/

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 154px;
    background: url("../IMAGES/backround1.png") no-repeat;
    background-size: cover;
}

.container {
    /* margin: 49px auto; Top & Bottom | Left & Right*/
    justify-self: center;
    width: 90vw;
    height: 56px;
    position: relative;
    top: 49px;
}

#Logo_Menu {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    gap: 170px;
}

img[src*="logo" i] {
    width: 142px;
    height: 100%;
}

img[alt="Actual page indicator"] {
    size: fit-content;
}

header #navigation {
    height: 100%;
    display: flex;
    align-items: center;
}

header #navigation ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

header #navigation ul li a {
    text-decoration: none;
    color: white;
    font-family: "Heebo";
    font-weight: 500;
    font-size: 18px;
}

#actualPage {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 8px;
    align-items: center;
    gap: 5px;
}

header nav form {
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0;
    border: 2px solid white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav form button {
    height: 24px;
    width: 24px;
    background: transparent;
    border: none;
}

img[alt="search icon" i] {
    height: 24px;
    width: 24px;
}

header nav form input {
    height: 24px;
    width: 80%;
    font-family: "Heebo";
    font-weight: 400;
    font-size: 16px;
    padding-left: 10px;
    background: transparent;
    border: none;
}

header nav form input:focus {
    border: none;
    outline: none;
    color: white;
}

header nav form input::placeholder {
    color: white;
}

/*********************************************** Style the main content **********************************************/
/* main {
    display: grid;
    row-gap: 20px;
} */

/* hero section */
.hero {
    width: 100%;
    background: url("../images/backround1.png") no-repeat;
    background-size: cover;
    padding-top: 70px;
}

.hero > div {
    display: flex;
    gap: 50px;
    width: 1200px;
    justify-self: center;
}

.hero > div > span:first-child {
    display: grid;
    row-gap: 120px;
    height: fit-content;
    align-self: center;
    margin: 50px 0px;
}

.hero > div > span:first-child > div:first-child {
    display: grid;
    row-gap: 35px;
}

.hero > div > span:first-child > div:first-child > div:first-child {
    background-color: #5EE088;
    color: white;
    font-family: "Heebo";
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1.25rem 1.25rem 0rem 1.25rem;
    padding: 0.75rem 1.5625rem;
    width: fit-content;
}

.d > h1 {
    font-family: "IBM Plex Sans";
    font-size: 52px;
    font-weight: bold;
    color: #FAFAFA;
}

.d > p {
    font-family: "Heebo";
    font-size: 24px;
    font-weight: 400;
    color: #FAFAFA;
}

.hero > div > span:first-child > div:first-child > div:last-child {
    display: flex;
    gap: 20px;
    align-items: baseline;
}

.hero > div > span:first-child > div:first-child > div:last-child > button:first-child {
    padding: 15px 20px 15px 30px;
    border: none;
    background-color: #FF6F61;
    border-radius: 100px;
    font-family: "Heebo";
    font-size: 20px;
    font-weight: 500;
    color: #FAFAFA;
    display: flex;
    gap: 10px;
    align-items: center;
}

.hero > div > span:first-child > div:first-child > div:last-child > button:first-child > img {
    height: 36px;
    width: 36px;
}

.hero > div > span:first-child > div:first-child > div:last-child > p {
    font-family: "Heebo";
    font-size: 14px;
    font-weight: 400;
    color: #FAFAFA;
}

.hero > div > span:first-child > div:first-child > div:last-child > button:last-child {
    padding: 18px 40px;
    border: 1px solid #FAFAFA;
    background: transparent;
    border-radius: 100px;
    font-family: "Heebo";
    font-size: 20px;
    font-weight: 500;
    color: #FAFAFA;
}

.hero > div > span:first-child > div:last-child {
    display: flex;
    gap: 20px;
}

.hero > div > span:first-child > div:last-child > span:first-child {
    padding: 21px;
    border-radius: 20px;
    border: none;
    background-color: #5EE088;
}

.hero > div > span:first-child > div:last-child > span:first-child > img {
    height: 45px;
}

.hero > div > span:first-child > div:last-child > span:last-child {
    display: grid;
    row-gap: 8px;
}

.hero > div > span:first-child > div:last-child > span:last-child > p {
    font-family: "Heebo";
    font-size: 18px;
    font-weight: 500;
    color: #FAFAFA;
}

.hero > div > span:first-child > div:last-child > span:last-child > div > p {
    font-family: "Heebo";
    font-size: 16px;
    font-weight: 400;
    color: #FAFAFA;
}

.hero > div > span:last-child {
    background: url("../images/hero_asset.svg") no-repeat;
    background-size: cover;
    height: 692px;
    width: 650px;
    position: relative;
}

.hero > div > span:last-child > form {
    position: absolute;
    top: 492px;
    width: 100%;
    background-color: white;
    padding: 30px 30px 25px 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.hero > div > span:last-child > form > div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
}

.hero > div > span:last-child > form > div > div {
    display: flex;
    gap: 20px;
}

.hero > div > span:last-child > form > div > div > span {
    display: flex;
    gap: 10px;
    width: 50%;
    padding: 8px 24px;
    border: 1px solid #E1E1E1;
    justify-content: start;
    align-items: center;
    border-radius: 15px;
}

.hero > div > span:last-child > form > div > div > span > select {
    width: 100%;
    border: none;
}

.hero > div > span:last-child > form button {
    padding: 12px 30px;
    border-radius: 100px;
    border: none;
    font-family: "Heebo";
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #FF6F61;
}

/* brands section */
.brands {
    width: 1440px;
    justify-self: center;
    padding: 100px 120px;
}

.brands > div {
    display: flex;
    gap: 45px;
    justify-self: center;
}

.brands > div > span {
    display: flex;
    gap: 10px;
    height: 60px;
}

/* about section */
.section {
    display: flex;
    justify-content: center;
    gap: 0.675rem;
    width: 1440px;
    padding: 0rem 1.875rem;
    justify-self: center;
}

.section-div {
    background:url("../IMAGES/backround2.png") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    row-gap: 0.675rem;
    padding: 4.5rem 5.625rem;
}

.about > div {
    background:url("../IMAGES/backround2.png") no-repeat;
}

.about > div > div {
    display: flex;
    gap: 6.25rem;
}

.about div > span {
    width: calc(50% - 6.25rem);
}

.about div > span:first-child {
    display: flex;
    flex-direction: column;
    row-gap: 1.9375rem;
}

.about div > span:first-child img {
    border-radius: 1.875rem;
}

.about div > span:first-child > div {
    position: relative;
}

.about div > span:first-child > div > div {
    background-color: #5EE088;
    color: white;
    border-radius: 1.25rem 1.25rem 1.25rem 0rem;
    padding: 1.125rem 1.75rem;
    width: fit-content;
    position: absolute;
    left: 16.5rem;
    top: 3.375rem;
}

.about div > span:first-child > div > div > p:first-child {
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-size: 1.75rem;
}

.about div > span:first-child > div > div > p:last-child {
    font-family: "Heebo";
    font-weight: 500;
    font-size: 1.25rem;
    text-wrap: nowrap;
}

.about div > span:last-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 1.875rem;
}

.about div > span:last-child > div:first-child {
    background-color: #5EE088;
    color: white;
    font-family: "Heebo";
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1.25rem 1.25rem 0rem 1.25rem;
    padding: 0.75rem 1.5625rem;
    width: fit-content;
}

.about div > span:last-child > div > div:first-child > p:first-child {
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-size: 3rem;
    color: #3498DB;
}

.about div > span:last-child > div > div:first-child > p:last-child {
    font-family: "Heebo";
    font-weight: 400;
    font-size: 1.25rem;
    color: #313131;  
}

/* statics section */
.statics {
    width: 1440px;
    justify-self: center;
    padding: 101px 120px;
}

.statics > div {
    display: flex;
    gap: 110px;
    justify-content: space-around;
}

.statics > div > span {
    display: grid;
    row-gap: 10px;
}

.statics > div > span > data {
    font-family: "IBM Plex Sans";
    font-size: 72px;
    font-weight: bold;
    color: #3498DB;
}

.statics > div > span > p {
    font-family: "Heebo";
    font-size: 20px;
    font-weight: 400;
    color: #313131;
}

/* sevices section */
.services {
    width: 1440px;
    justify-self: center;
}

.services > div {
    display: flex;
    justify-self: center;
    flex-direction: column;
    row-gap: 0.875rem;
    padding: 6.25rem 5.625rem;
    background: url("../IMAGES/backround2.png") no-repeat;
    background-size: cover;
}

.services > div > div {
    display: flex;
    flex-direction: column;
    row-gap: 3.125rem;
}

.services > div > div > div:first-child {
    display: flex;
    justify-content: space-between;
    gap: 6.5625rem;
}

.services > div > div > div:first-child > span {
    width: calc(50% - 6.5625rem);
}

.services > div > div > div:first-child > span:first-child {
    display: flex;
    flex-direction: column;
    row-gap: 1.875rem;
}

.services > div > div > div:first-child > span:first-child > div {
    width: fit-content;
    background-color: #5EE088;
    color: white;
    gap: 0.625rem;
    padding: 0.75rem 1.5625rem;
    border: 1px solid #5EE088;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    font-family: "Heebo";
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 12%;
    line-height: auto;
}

.services > div > div > div:first-child > span:first-child > p {
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0%;
    line-height: auto;
    color: #3498DB;
}

.services > div > div > div:first-child > span:last-child {
    display: flex;
    align-items: end;
    font-family: "Heebo";
    font-size: 1.25rem;
    font-weight: 400;
    direction: rtl;
}

.services > div > div > div:first-child > span:last-child p {
    height: fit-content;
}

.service {
    display: flex;
    flex-direction: column;
    row-gap: 1.875rem;
}

.service > div {
    width: 100%;
}

/* .service > div:first-child > div {
    background-color: #FF6F61;
    border-radius: 3.75rem;
    color: white;
    padding: 1rem 1.25rem;
    font-family: "Heebo";
    font-size: 1.875rem;
    font-weight: 500;
    width: fit-content;
} */

.service > div {
    display: flex;
    gap: 1.875rem;
}

.service > div > span {
    padding: 1.875rem;
    border-radius: 1.875rem;
    background-color: white;
}

.service > div > span > div {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.service > div > span > div > div {
    display: flex;
    flex-direction: column;
    row-gap: 1.625rem;
}

.service > div > span > div > div> div {
    display: flex;
    justify-content: space-between;
    gap: 1.625rem;
}

.service > div > span > div > div> div:first-child > span {
    display: flex;
    gap: 0.625rem;
    background-color: rgba(255, 111, 97, 0.18);
    padding: 0.9375rem;
    border-radius: 1.25rem;
}

.service > div > span > div > div> div:first-child > span > img {
    height: 3.125rem;
    width: 3.125rem;
    /* opacity: none !important; */
}

.service > div > span > div > div> div:first-child > p {
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-size: 4rem;
    color: #D6F6FD;
}

.service > div > span > div > div> div:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.service > div > span > div > div> div:last-child > p:first-child {
    font-family: "Heebo";
    font-size: 1.875rem;
    font-weight: 500;
    color: #2677BC;
}

.service > div > span > div > div> div:last-child > p:last-child {
    font-family: "Heebo";
    font-size: 1.25rem;
    font-weight: 400;
    color: #5B5B5B;
}

.service > div > span > div > button {
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 0.625rem;
    padding: 0.75rem 1.875rem;
    font-family: "Heebo";
    font-size: 1rem;
    font-weight: 500;
    color: #FF6F61;
    border: 1px solid #FF6F61;
    border-radius: 6.25rem;
}

.service > div > span > div > button > img {
    height: 1.25rem;
    width: 1.25rem;
}

/* section doctors */
.doctors {
    width: 1440px;
    padding: 130px 120px;
    justify-self: center;
}

.doctors > div {
    display: grid;
    row-gap: 70px;
    justify-self: center;
}

.doctors > div > div {
    display: grid;
    row-gap: 35px;
}

.doctors > div > div > div:first-child {
    display: grid;
    row-gap: 30px;
    justify-content: center;
}

.doctors > div > div > div:first-child > div {
    width: fit-content;
    background-color: #5EE088;
    color: white;
    gap: 10px;
    padding: 12px 25px;
    border: 1px solid #5EE088;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: "Heebo";
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 12%;
    line-height: auto;
    justify-self: center;
}

.doctors > div > div > div:first-child > h2 {
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0%;
    line-height: auto;
    color: #3498DB;
    text-align: center;
}

.doctors > div > div > div:last-child {
    display: grid;
    row-gap: 46px;
}

.doctors > div > div > div:last-child > div {
    display: flex;
    gap: 30px;
}

.doctors > div > div > div:last-child > div > span {
    padding: 35px 30px;
}

.doctors > div > div > div:last-child > div > span > div {
    display: grid;
    row-gap: 15px;
}

.doctors > div > div > div:last-child > div > span > div > div {
    display: grid;
    row-gap: 18px;
}

.doctors > div > div > div:last-child > div > span > div > div > img {
    height: 300px;
    width: 320px;
}

.doctors > div > div > div:last-child > div > span > div > div > div {
    display: grid;
    row-gap: 8px;
    justify-content: center;
}

.doctors > div > div > div:last-child > div > span > div > div > div > h3 {
    font-family: "IBM Plex Sans";
    font-size: 32px;
    font-weight: bold;
    color: #2677BC;
    width: fit-content;
}

.doctors > div > div > div:last-child > div > span > div > div > div > h4 {
    font-family: "Heebo";
    font-size: 24px;
    font-weight: 400;
    color: #FF6F61;
    width: fit-content;
    justify-self: center;
}

.doctors > div > div > div:last-child > div > span > div > div > p {
    display: grid;
    padding: 0px 10px;
    font-family: "Heebo";
    font-size: 18px;
    font-weight: 400;
    color: #5B5B5B;
}

.doctors > div > button {
    background-color: #FF6F61;
    color: white;
    font-family: "Heebo";
    font-size: 20px;
    font-weight: 500;
    padding: 15px 30px 15px 20px;
    width: fit-content;
    justify-self: center;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 100px;
}

.doctors > div > button > img {
    height: 36px;
    width: 36px;
}

/* appointement section */
.appointement {
    width: 1440px;
    padding: 0px 30px;
    justify-self: center;
}

.appointement > div {
    display: flex;
    justify-self: center;
}

.appointement > div > span {
    background: url("../images/backround1.png") no-repeat;
    background-size: cover;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    opacity: 90%;
    backdrop-filter: blur(18px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.appointement > div > span > div {
    display: grid;
    row-gap: 66px;
    width: fit-content;
}

.appointement > div > span > div > div > h2 {
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-size: 52px;
    color: #FAFAFA;
    width: fit-content;
    justify-self: center;
}

.appointement > div > span > div > div > p {
    font-family: "Heebo";
    font-weight: 400;
    font-size: 20px;
    width: 593.31px;
    color: #FAFAFA;
}

.appointement > div > span > div > button {
    background-color: #E3FAFF;
    padding: 15px 20px 15px 30px;
    border-radius: 100px;
    width: fit-content;
    justify-self: left;
    font-family: "Heebo";
    font-weight: 500;
    font-size: 20px;
    color: #2677BC;
    display: flex;
    gap: 10px;
    align-items: center;
}

.appointement > div > span > div > button > img {
    height: 36px;
    width: 36px;
}

.appointement > div > span > div > div {
    display: grid;
    row-gap: 30px;
    width: fit-content;
    text-align: center;
}

.appointement > div > img {
    width: 567px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* plan section */
.plan {
    width: 1440px;
    justify-self: center;
    padding: 130px 120px;
}

.plan > div {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 1200px;
    justify-self: center;
}

.plan > div > div:first-child {
    display: flex;
    gap: 105px;
}

.plan > div > div:first-child > span:first-child {
    display: grid;
    row-gap: 30px;
}

.plan > div > div:first-child > span:first-child > div {
    width: fit-content;
    background-color: #5EE088;
    color: white;
    gap: 10px;
    padding: 12px 25px;
    border: 1px solid #5EE088;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: "Heebo";
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 12%;
    line-height: auto;
}

.plan > div > div:first-child > span:first-child > h2 {
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0%;
    line-height: auto;
    color: #3498DB;
    text-wrap: nowrap;
}

.plan > div > div:first-child > span:last-child {
    display: flex;
    align-items: end;
}

.plan > div > div:first-child > span:last-child > p {
    font-family: "Heebo";
    font-weight: 400;
    font-size: 20px;
    color: #313131;
    direction: rtl;
}

.plan > div > div:last-child {
    display: flex;
    gap: 30px;
}

.plan > div > div:last-child > span {
    display: flex;
    padding: 30px;
    border: 1px solid #C8C8C8;
    border-radius: 25px;
}

.plan > div > div:last-child > span > div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.plan > div > div:last-child > span > div > div:first-child {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.plan > div > div:last-child > span > div > div:first-child > h3 {
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-size: 36px;
    text-wrap: nowrap;
    color: #2677BC;
    width: fit-content;
}

.plan > div > div:last-child > span > div > div:first-child > h3 > p {
    display: inline;
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-size: 28px;
    text-wrap: nowrap;
    color: #84D4F4;
}

.p_top {
    font-family: "Heebo";
    font-weight: 400;
    font-size: 20px;
    color: #5B5B5B;
} 

.p_price {
    display: flex;
    gap: 10px;
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-size: 48px;
    color: #3498DB;
    width: fit-content;
    justify-self: left;
    align-items: baseline;
}

.p_price > span {
    font-family: "Heebo";
    font-weight: 400;
    font-size: 24px;
    color: #969696;
    width: fit-content;
    height: fit-content;
}

.line {
    border: 1px solid #C8C8C8;
}

.plan > div > div:last-child > span > div > div:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}

.plan > div > div:last-child > span > div > div:last-child > div:first-child {
    display: grid;
    row-gap: 20px;
}

.plan > div > div:last-child > span > div > div:last-child > div:first-child > h4 {
    font-family: "Heebo";
    font-weight: 500;
    font-size: 24px;
    color: #3498DB;
}

.plan > div > div:last-child > span > div > div:last-child > div:first-child > ul {
    list-style: none;
    display: grid;
    align-items: center;
    row-gap: 15px;
}

.plan > div > div:last-child > span > div > div:last-child > div:first-child > ul > li {
    font-family: "Heebo";
    font-weight: 400;
    font-size: 24px;
    color: #5B5B5B;
}

.plan > div > div:last-child > span > div > div:last-child > div:first-child > ul > li > img {
    height: 24px;
    width: 24px;
    position: relative;
    top: 4px;
    left: 3px;
}

.plan > div > div:last-child > span > div > div:last-child > div:last-child {
    display: grid;
    row-gap: 11px;
    justify-content: center;
}

.plan > div > div:last-child > span > div > div:last-child > div:last-child > button:first-child {
    border: 1px solid #FF6F61;
    padding: 12px 30px;
    font-family: "Heebo";
    font-weight: 500;
    font-size: 16px;
    color: #5B5B5B;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.plan > div > div:last-child > span > div > div:last-child > div:last-child > p {
    font-family: "Heebo";
    font-weight: 400;
    font-size: 14px;
    color: #969696;
    width: fit-content;
    justify-self: center;
}

.plan > div > div:last-child > span > div > div:last-child > div:last-child > button:last-child {
    padding: 12px 30px;
    font-family: "Heebo";
    font-weight: 500;
    font-size: 16px;
    display: flex;
    gap: 10px;
    color: white;
    background-color: #FF6F61;
    border: none;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
}

.plan > div > div:last-child > span > div > div:last-child button img {
    height: 20px;
    width: 20px;
}

/* Formulaire rendez-vous */
section:last-child {
    background: url("../IMAGES/backround1.png") no-repeat;
    background-size: cover;
    gap: 60px;
}

.rendez_vous {
    padding: 100px 120px;
}

.rendez_vous form {
    padding: 50px;
    border-radius: 30px;
    background-color: white;
}

.rendez_vous fieldset {
    border: none;
}

.rendez_vous fieldset * {
    border: none;
}

.rendez_vous legend {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.rendez_vous legend div {
    width: fit-content;
    background-color: #5EE088;
    color: white;
    gap: 10px;
    padding: 12px 25px;
    border: 1px solid #5EE088;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: "Heebo";
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 12%;
    line-height: auto;
}

.rendez_vous form fieldset legend > p{ 
    /* font-family: ; */
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0%;
    line-height: auto;
    color: #3498DB;
}

#submit {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

#infos_rendez_vous {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 50px;
}

#infos_rendez_vous > div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#infos_rendez_vous > div > span {
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.rendez_vous label {
    font-family: "Heebo";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0%;
    line-height: auto;
    display: block;
}

.rendez_vous input {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 16px 24px;
    font-family: "Heebo";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
    line-height: auto;
}

.rendez_vous select {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 16px 24px;
    font-family: "Heebo";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
    line-height: auto;
}

#bloc-description {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

#bloc-description textarea {
    border: 1px solid grey;
    height: 140px;
    border-radius: 15px;
    padding: 20px 24px;
    font-family: "Heebo";
    font-size: 16px;
    font-weight: 400;
}

#submit button {
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 100px;
    color: white;
    font-family: "Heebo";
    font-size: 20px;
    font-weight: 500;
    background-color: #FF6F61;
}

/*********************************************** Style the footer **********************************************/

footer {
    gap: 0.625rem;
    padding: 4.375rem 7.5rem 6.25rem 7.5rem;
    background-color: #F5F8FA;
}

footer > div {
    display: flex;
}

footer > div > span:first-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 4.875rem;
}

footer > div > span:first-child img {
    width: 10.625rem;
    height: 10.625rem;
}

footer > div > span:first-child > div {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
}

footer > div > span:first-child > div > div {
    width: 75%;
    display: flex;
    flex-direction: column;
    row-gap: 1.875rem;
}

footer > div > span:first-child > div > div div {
    display: flex;
    gap: 0.875rem;
    justify-content: space-between;
}

footer > div > span:first-child input {
    padding: 1rem 1.5rem;
    border-radius: 6.25rem;
    background: transparent;
    font-family: "Heebo";
    font-weight: 400;
    font-size: 1rem;
}

footer > div > span:first-child button {
    padding: 0.75rem 1.875rem;
    border-radius: 6.25rem;
    color: #3498DB;
    font-family: "Heebo";
    font-weight: 500;
    font-size: 1rem;
}

footer > div > span:first-child p {
    color: #2677BC;
    font-family: "Lato";
    font-size: 1rem;
    font-weight: 400;
}

footer > div > span:first-child > div:last-child {
    display: flex;
    flex-direction: row;
    gap: 0.875rem;
}

footer > div > span:first-child > div:last-child span {
    width: fit-content;
    padding: 0.3125rem;
    font-size: 1.875rem;
    color: #2677BC;
}

footer > div > span:last-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 2.75rem;
}

footer > div > span:last-child > div:first-child {
    display: flex;
    gap: 3.75rem;
    font-family: "Heebo";
    font-weight: 500;
}

footer > div > span:last-child > div:first-child p {
    color: #2677BC;
    font-size: 1.5rem;
    text-wrap: nowrap;
}

footer > div > span:last-child > div:first-child a {
    display: block;
    color: #63BBE9;
    font-size: 0.875rem;
    text-decoration: none;
}

footer > div > span:last-child > div:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 0.875rem;
    font-family: "Heebo";
    color: #2677BC;
}

footer > div > span:last-child > div:last-child > p {
    font-weight: 500;
    font-size: 1.5rem;
}

footer > div > span:last-child > div:last-child > div {
    gap: 1.5rem;
}

footer > div > span:last-child > div:last-child > div > div {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
    width: 11.25rem;
}

footer > div > span:last-child > div:last-child > div p[name="subheading"] {
    font-weight: 500;
    font-size: 0.875rem;
}

footer > div > span:last-child > div:last-child > div p[name="text"] {
    font-weight: 400;
    font-size: 0.875rem;
    color: #969696;
}